body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: rgb(45 133 162);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.header h1 {
    width: 100%;
    text-align: center;
}

.header form {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

form>div>input {
    border: none;
    padding: 10px;
}

.header button {
    padding: 10px;
}

.header button:hover {
    cursor: pointer;
}

.main {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    height: 50vh;
    padding: 5px;
}

.game-info {
    text-align: center;
}

.player-win-display {
    background-image: linear-gradient(90deg, #4e32d5, #ca256f);
    background-clip: text;
    color: transparent;
    font-size: 3rem;
    font-weight: bold;
}

.game-board {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid black;
    width: 600px;
}

.game-board div {
    border: 2px solid #871515;
    padding: 10px;
    height: 90px;
}
.game-board-cell {
    font-size: 2.5rem;
    display: grid;
    justify-items: center;
    align-items: center;
}

.game-board-cell:hover {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .header form {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .main {
        grid-template-columns: 1fr;
    }
    .game-board {
        width: 300px;
    }
    .game-board div {
        height: 60px;
    }
}